<!dOCTYPE html>
<html>
<body>
    <h1>Welcome to Text analyzer. 
        This is text capitalizer.</h1>
        <h3> Enter your text below : </h3>
    
    <form action = "/analyzed" method='get'>
        <textarea name="text" style="width: 970px; height: 119px;"></textarea><br>

        <input type="checkbox" name= 'removepunc' >Remove punchuation <br>
        <input type="checkbox" name= 'capitalize' >capitalize paragraph <br>
        <button type="submit" >analyze Text</button>
       
    </form>
    
    
</body>
</html>             